*{
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    float: left;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 1440px;
}

body{
    background: rgb(20, 20, 20);
    background-image: url('../img/bg-arthur.png')
}

.body-inner-div{
    float: none;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    text-align: left;
    padding: 0px 20px;
}

#Header{
    width: 100%;
}

#Topo{
    width: 60%;
    margin-right: 10%;
    padding-top: 10vh;
    padding-bottom: 3vh
}

#Topo .Logo{
    height: 100%;
    height: 10vh;
}

#Topo .Icones{
    width: 100%;
    padding-top: 2vh
}

#Topo .Icones span{
    font-size: 6vh;
    opacity: 0.9;
    color: #FFF;
    margin-right: 1rem;
    
}

#Topo .IconesFont{
    position: relative;
    top: -4px;
}

#Menu{
    width: 30%;
    padding-top: 10vh;
}

#Menu .MenuLink{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

#Menu .MenuLinkTitle{
    float: right;
    background-color: rgb(20, 20, 20);
    color: #FFF;
    padding-left: 5px;
    font-size: 15px;
    opacity: 0.9;
}

#Menu .MenuLinkLine{
    position: absolute;
    top: calc(50% - 1px);
    z-index: -1;
    width: 100%;
    height: 2px;
    background-image: url('../img/ruido-menu.png')
}

#Menu .MenuLinkImg{
    width: 24px;
    background-color: rgb(20, 20, 20);
    padding-right: 5px;
}

#Menu .MenuLinkImg img{
    width: 100%;
    opacity: 0.9;
}

#Menu .MenuLink:hover .MenuLinkTitle{
    color: #E53F43;
    font-weight: 900;
}

#Banner{
    width: 60%;
    margin-right: 10%;
    opacity: 0.8;
}

#Banner .Banner1{
    width: calc(50% - 10px);
    height: 30vh;
    margin-right: 20px;
    border: 2px solid #E53F43;
    background-image: url('../img/avatar.jpg');
    background-size: cover;
    background-position: center center;
}

#Banner .Banner2{
    width: calc(50% - 10px);
    height: 30vh;
    border: 2px solid #E53F43;
    background-image: url('../img/avatar2.jpg');
    background-size: cover;
    background-position: center center;
}

#Banner .AAA{
    
}

@media(max-width: 1240px){

}